* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a:link, * a:visited {
  text-decoration: none;
  color: white;
}

nav {
  margin: auto;
  max-width: 1200px;
  overflow: hidden;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
}
nav .nav-float {
  display: inline-block;
  float: right;
}
nav .nav-float-logo {
  display: inline-block;
  width: 150px;
  margin-bottom: 30px;
}
nav .nav-float-logo img {
  width: 100%;
}
nav ul {
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 15px 0 10px 0;
  padding: 0;
}
nav ul a:visited {
  text-decoration: none;
}
nav ul li {
  text-transform: uppercase;
}
nav ul li .nav-sizing {
  float: right;
  width: 236px;
  text-align: center;
  background-color: #2C5545;
  border-radius: 1px;
  padding: 5px 0;
  margin: 0 5px 0 0;
  transition: 0.4s ease-in;
  border: 2px solid #2C5545;
}
nav ul li .nav-sizing:hover {
  cursor: pointer;
  font-weight: 700;
  background-color: #fff;
  color: #2C5545;
}
nav ul li .contact-btn {
  margin-right: 0;
}

.site-selector {
  width: 100%;
  height: 700px;
  min-height: 60vh;
  max-height: 90vh;
}
.site-selector .main-container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  justify-items: stretch;
}
.site-selector .main-container .grid-els {
  overflow: hidden;
  transition: 0.4s ease-in;
  border-radius: 2px;
}
.site-selector .main-container .grid-els a {
  position: relative;
  display: inline-block;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  transition: all 0.4s ease-in;
  z-index: 100;
  letter-spacing: 2px;
  font-size: 19px;
}
.site-selector .main-container .grid-els a:hover {
  background-color: #2C5545;
  border-radius: 1px;
  transition: all 0.4s ease-in;
}
.site-selector .main-container .grid-els a:hover ~ .mask-div {
  transition: all 0.4s ease-out;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
}
.site-selector .main-container .grid-els a:hover ~ .mask-div-br {
  transition: all 0.4s ease-out;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
}
.site-selector .main-container .grid-els .mask-div {
  transition: all 0.4s ease-in;
  position: relative;
  transform: translate(0, -30%);
  height: 200%;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}
.site-selector .main-container .grid-el-1 {
  background-image: url("/images/glowna/planta-1.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/3;
  grid-row: 1/2;
}
.site-selector .main-container .grid-el-2 {
  background-image: url("/images/glowna/planta-2.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 3/5;
  grid-row: 1/2;
}
.site-selector .main-container .grid-el-3 {
  background-image: url("/images/glowna/planta-3.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 5/6;
  grid-row: 1/3;
}
.site-selector .main-container .grid-el-4 {
  background-image: url("/images/glowna/planta-4.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 2/4;
}
.site-selector .main-container .grid-el-5 {
  background-image: url("/images/glowna/planta-5.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
  grid-row: 3/4;
}
.site-selector .main-container .grid-el-6 {
  background-image: url("/images/glowna/planta-6.jpeg");
  background-size: cover;
  background-position: center;
  grid-column: 4/6;
  grid-row: 3/4;
}
.site-selector .main-container .grid-el-7 {
  background-image: url("/images/glowna/planta-logo-no-border.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2/5;
  grid-row: 2/3;
}

#designing-main {
  max-width: 1200px;
  margin: auto;
}
#designing-main .sub-site-image, #designing-main .sub-site-text {
  float: left;
  height: 430px;
  margin-bottom: 30px;
}
#designing-main .sub-site-text {
  width: 60%;
}
#designing-main .sub-site-image {
  width: 40%;
}
#designing-main .sub-site-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#designing-main .carousel-container {
  width: 1100px;
  margin: 50px auto;
}
@media (max-width: 768px) {
  #designing-main .carousel-container {
    width: 95%;
  }
}
#designing-main .inner-carousel {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
#designing-main .track {
  display: inline-flex;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
#designing-main .card-container {
  width: 275px;
  height: 400px;
  flex-shrink: 0;
  padding-right: 10px;
}
@media (max-width: 768px) {
  #designing-main .card-container {
    width: 184px;
  }
}
#designing-main .card {
  width: 100%;
  height: 100%;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
#designing-main .card1 {
  background-image: url("https://cdn.pixabay.com/photo/2018/08/21/23/29/fog-3622519_960_720.jpg");
}
#designing-main .card2 {
  background-image: url("https://cdn.pixabay.com/photo/2016/11/14/04/45/elephant-1822636_960_720.jpg");
}
#designing-main .card3 {
  background-image: url("https://cdn.pixabay.com/photo/2016/08/11/23/48/italy-1587287_960_720.jpg");
}
#designing-main .card4 {
  background-image: url("https://cdn.pixabay.com/photo/2014/08/29/03/02/horse-430441_960_720.jpg");
}
#designing-main .card5 {
  background-image: url("https://cdn.pixabay.com/photo/2014/12/08/17/52/mare-561221_960_720.jpg");
}
#designing-main .card6 {
  background-image: url("https://cdn.pixabay.com/photo/2017/02/08/17/24/butterfly-2049567_960_720.jpg");
}
#designing-main .card7 {
  background-image: url("https://cdn.pixabay.com/photo/2017/11/30/22/00/pumpkin-2989569_960_720.jpg");
}
#designing-main .card8 {
  background-image: url("https://cdn.pixabay.com/photo/2016/07/24/22/25/woman-1539416_960_720.jpg");
}
#designing-main .card9 {
  background-image: url("https://cdn.pixabay.com/photo/2017/11/15/09/28/music-player-2951399_960_720.jpg");
}
#designing-main .card10 {
  background-image: url("https://cdn.pixabay.com/photo/2018/02/23/04/38/laptop-3174729_960_720.jpg");
}
#designing-main .card11 {
  background-image: url("https://cdn.pixabay.com/photo/2016/03/09/09/30/woman-1245817_960_720.jpg");
}
#designing-main .card12 {
  background-image: url("https://cdn.pixabay.com/photo/2016/11/08/05/31/adorable-1807544_960_720.jpg");
}
#designing-main .carousle-nav button {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #000;
  cursor: pointer;
}
#designing-main .carousele-nav .prev {
  left: -30px;
  display: none;
}
#designing-main .carousele-nav .prev.show {
  display: block;
}
#designing-main .carousele-nav .next {
  right: -30px;
}
#designing-main .carousele-nav .next.hide {
  display: none;
}

.footer {
  max-width: 1200px;
  margin: auto;
  color: #2C5545;
}
.footer div {
  font-size: 24px;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: #fff;
  margin-top: 50px;
  color: #2C5545;
}

/*# sourceMappingURL=main_scss.css.map */
