* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a:link, * a:visited {
  text-decoration: none;
  color: white;
}

nav {
  margin: auto;
  max-width: 1200px;
  overflow: hidden;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  padding: 0 10px;
  display: flex;
}
nav .nav-item {
  float: right;
}
nav .nav-float-logo {
  display: inline-block;
  width: 150px;
  margin-bottom: 30px;
}
nav .nav-float-logo img {
  width: 100%;
}
nav ul {
  width: 100%;
  height: auto;
  margin: 15px 0 10px 0;
  padding: 0;
}
nav ul a:visited {
  text-decoration: none;
}
nav ul li {
  text-transform: uppercase;
}
nav ul li .nav-sizing {
  float: right;
  width: 232px;
  text-align: center;
  background-color: #2C5545;
  border-radius: 1px;
  padding: 5px 0;
  margin: 0 5px 0 0;
  transition: 0.4s ease-in;
  border: 2px solid #2C5545;
}
@media (min-width: 1024px) {
  nav ul li .nav-sizing:hover {
    cursor: pointer;
    font-weight: 700;
    background-color: #fff;
    color: #2C5545;
  }
}
nav ul li .contact-btn {
  margin-right: 0;
}
nav .hamburger-menu {
  display: none;
  cursor: pointer;
}
nav .hamburger-menu .bar {
  display: block;
  width: 40px;
  height: 2px;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #FFFFFF;
}

.site-selector {
  width: 100%;
  height: 700px;
  min-height: 60vh;
  max-height: 90vh;
}

.main-container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  padding: 0 10px;
}
.main-container .grid-els {
  overflow: hidden;
  transition: 0.4s ease-in;
  border-radius: 2px;
}
.main-container .grid-els a {
  position: relative;
  display: block;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  transition: all 0.4s ease-in;
  z-index: 10;
  letter-spacing: 2px;
  font-size: 19px;
  width: fit-content;
}
@media (min-width: 1024px) {
  .main-container .grid-els a:hover {
    background-color: #2C5545;
    border-radius: 1px;
    transition: all 0.4s ease-in;
  }
  .main-container .grid-els a:hover ~ .mask-div {
    transition: all 0.4s ease-out;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
  }
}
.main-container .grid-els .mask-div {
  transition: all 0.4s ease-in;
  position: relative;
  transform: translate(0, -30%);
  height: 250%;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}
.main-container .grid-el-1 {
  background-image: url("/images/glowna/planta-1.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/3;
  grid-row: 1/2;
}
.main-container .grid-el-2 {
  background-image: url("/images/glowna/planta-2.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 3/5;
  grid-row: 1/2;
}
.main-container .grid-el-3 {
  background-image: url("/images/glowna/planta-3.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 5/6;
  grid-row: 1/3;
}
.main-container .grid-el-4 {
  background-image: url("/images/glowna/planta-4.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 2/4;
}
.main-container .grid-el-5 {
  background-image: url("/images/glowna/planta-5.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
  grid-row: 3/4;
}
.main-container .grid-el-6 {
  background-image: url("/images/glowna/planta-6.jpeg");
  background-size: cover;
  background-position: center;
  grid-column: 4/6;
  grid-row: 3/4;
}
.main-container .grid-el-7 {
  background-image: url("/images/glowna/planta-logo-no-border.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2/5;
  grid-row: 2/3;
}

#designing-main {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}
#designing-main .sub-site-image, #designing-main .sub-site-text {
  float: left;
  height: 430px;
  margin-bottom: 30px;
}
#designing-main .sub-site-text {
  width: 60%;
}
#designing-main .sub-site-image {
  width: 40%;
}
#designing-main .sub-site-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#designing-main .carousele-element {
  overflow: hidden;
}
#designing-main .carousele-element .owl-stage-outer .owl-stage {
  margin: auto;
}
#designing-main .carousele-element .owl-stage-outer .owl-stage .owl-item a img {
  height: 200px;
}
#designing-main .carousele-element .owl-nav {
  display: none;
}
#designing-main .carousele-element .owl-dots {
  margin-top: 10px;
}

.footer {
  max-width: 1200px;
  margin: auto;
  color: #2C5545;
}
.footer div {
  font-size: 24px;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: #fff;
  margin-top: 50px;
  color: #2C5545;
}

@media (max-width: 767px) {
  nav .nav-menu {
    position: fixed;
    right: -100%;
    top: 49px;
    gap: 0;
    flex-direction: column;
    background-color: #2C5545;
    width: fit-content;
    margin: 0;
    z-index: 20;
    transition: 0.3s;
    text-align: center;
  }
  nav .nav-menu .nav-item {
    overflow: hidden;
    float: none;
  }
  nav .nav-menu .nav-item .nav-sizing {
    padding: 15px 0;
    margin: 0;
  }
  nav .nav-menu .nav-item:nth-child(1), nav .nav-menu .nav-item:nth-child(2) {
    border-bottom: solid 1px #FFFFFF;
  }
  nav .nav-menu.active {
    padding: 0 15px;
    margin: 10px 10px 0 0;
    right: 0;
  }
  nav .hamburger-menu {
    position: fixed;
    display: block;
    right: 0;
    padding: 8px 13px;
    margin: 5px 10px;
    background-color: #2C5545;
    z-index: 20;
  }
  nav .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  nav .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  nav .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .site-selector {
    padding-top: 60px;
  }
}
@media (min-width: 550px) and (max-width: 1023px) {
  .site-selector .main-container .grid-els .realizations, .site-selector .main-container .grid-els .care {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  nav ul li .nav-sizing {
    width: 170px;
  }
}

/*# sourceMappingURL=main_scss.css.map */
