* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a:link, * a:visited {
  text-decoration: none;
  color: white;
}

nav {
  max-width: 1200px;
  overflow: hidden;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  padding: 0 10px;
  display: flex;
  margin: auto auto 30px;
}
nav .nav-item {
  float: left;
}
nav .nav-float-logo {
  display: inline-block;
  width: 150px;
  margin: 5px 0 6px 0;
}
nav .nav-float-logo img {
  width: 100%;
}
nav ul {
  height: auto;
  margin: 15px 0 10px auto;
  padding: 0;
}
nav ul a:visited {
  text-decoration: none;
}
nav ul li {
  text-transform: uppercase;
  list-style-type: none;
}
nav ul li .nav-sizing {
  float: right;
  width: 232px;
  text-align: center;
  background-color: #2C5545;
  border-radius: 1px;
  padding: 5px 0;
  margin: 0 5px 0 0;
  transition: 0.4s ease-in;
  border: 2px solid #2C5545;
}
@media (min-width: 1024px) {
  nav ul li .nav-sizing:hover {
    cursor: pointer;
    font-weight: 700;
    background-color: #fff;
    color: #2C5545;
  }
}
nav ul li .contact-btn {
  margin-right: 0;
}
nav .hamburger-menu {
  display: none;
  cursor: pointer;
}
nav .hamburger-menu .bar {
  display: block;
  width: 38px;
  height: 2px;
  margin: 9px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #FFFFFF;
}

body .loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #2C5545;
  z-index: 300;
}

body .loader {
  margin: auto;
  position: relative;
  top: 46%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #000; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.site-selector {
  margin-bottom: 20px;
  width: 100%;
  height: 700px;
  min-height: 60vh;
  max-height: 90vh;
}

.main-container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  padding: 0 10px;
}
.main-container .grid-els {
  overflow: hidden;
  transition: 0.4s ease-in;
  border-radius: 2px;
}
.main-container .grid-els a {
  position: relative;
  display: block;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  transition: all 0.4s ease-in;
  z-index: 10;
  letter-spacing: 2px;
  font-size: 19px;
  width: fit-content;
}
@media (min-width: 1024px) {
  .main-container .grid-els a:hover {
    background-color: #2C5545;
    border-radius: 1px;
    transition: all 0.4s ease-in;
  }
  .main-container .grid-els a:hover ~ .mask-div {
    transition: all 0.4s ease-out;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
  }
}
.main-container .grid-els .mask-div {
  transition: all 0.4s ease-in;
  position: relative;
  transform: translate(0, -30%);
  height: 700%;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}
.main-container .grid-el-1 {
  background-image: url("/images/glowna/planta-1.webp");
  background-size: cover;
  background-position: center;
  grid-column: 1/3;
  grid-row: 1/2;
}
.main-container .grid-el-2 {
  background-image: url("/images/glowna/planta-2.webp");
  background-size: cover;
  background-position: center;
  grid-column: 3/5;
  grid-row: 1/2;
}
.main-container .grid-el-3 {
  background-image: url("/images/glowna/planta-3.webp");
  background-size: cover;
  background-position: center;
  grid-column: 5/6;
  grid-row: 1/3;
}
.main-container .grid-el-4 {
  background-image: url("/images/glowna/planta-4.webp");
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 2/4;
}
.main-container .grid-el-5 {
  background-image: url("/images/glowna/planta-5.webp");
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
  grid-row: 3/4;
}
.main-container .grid-el-6 {
  background-image: url("/images/glowna/planta-6.webp");
  background-size: cover;
  background-position: center;
  grid-column: 4/6;
  grid-row: 3/4;
}
.main-container .grid-el-7 {
  background-image: url("/images/glowna/planta-logo-no-border.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2/5;
  grid-row: 2/3;
}

.sub-site-section {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}
.sub-site-section .supervision-bcg-img {
  background-image: url("/images/subsites/nadzor/stampnot.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.sub-site-section .sub-site-image, .sub-site-section .sub-site-text {
  float: left;
  margin-bottom: 30px;
}
.sub-site-section .contact-form-info {
  float: right;
}
.sub-site-section .sub-site-text {
  width: 60%;
}
.sub-site-section .sub-site-text .sub-site-desc-container {
  width: 90%;
  margin: auto;
}
.sub-site-section .sub-site-text .sub-site-desc-container .sub-site-header-1 {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #2C5545;
  font-family: "Advent Pro", sans-serif;
  font-size: 42px;
  font-weight: 600;
}
.sub-site-section .sub-site-text .sub-site-desc-container .sub-site-header-2 {
  margin-bottom: 40px;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.sub-site-section .sub-site-text .sub-site-desc-container .arrangements-h2, .sub-site-section .sub-site-text .sub-site-desc-container .about-us-h2, .sub-site-section .sub-site-text .sub-site-desc-container .contact-page-info-h2 {
  display: none;
}
.sub-site-section .sub-site-text .sub-site-desc-container .sub-site-list {
  vertical-align: baseline;
  padding-bottom: 20px;
}
.sub-site-section .sub-site-text .sub-site-desc-container .sub-site-list .sub-list-bullet-div {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
}
.sub-site-section .sub-site-text .sub-site-desc-container .sub-site-list .sub-list-bullet-div img {
  height: 30px;
}
.sub-site-section .sub-site-text .sub-site-desc-container .sub-site-list .sub-list-text-div {
  letter-spacing: 1px;
  font-family: "Advent Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
  display: inline-block;
  width: 85%;
  vertical-align: top;
}
.sub-site-section .sub-site-text .sub-site-desc-container .sub-site-list .about-us-text-div p:nth-child(1), .sub-site-section .sub-site-text .sub-site-desc-container .sub-site-list .about-us-text-div p:nth-child(3) {
  font-weight: 500;
}
.sub-site-section .sub-site-text .sub-site-desc-container .sub-site-list .about-us-text-div p:nth-child(1), .sub-site-section .sub-site-text .sub-site-desc-container .sub-site-list .about-us-text-div p:nth-child(2) {
  padding-bottom: 15px;
}
.sub-site-section .sub-site-text .sub-site-desc-container .sub-site-list .care-bullet-div, .sub-site-section .sub-site-text .sub-site-desc-container .sub-site-list .arrangements-bullet-div, .sub-site-section .sub-site-text .sub-site-desc-container .sub-site-list .about-us-bullet-div {
  display: none;
}
.sub-site-section .sub-site-image {
  width: 40%;
}
.sub-site-section .sub-site-image img {
  height: 500px;
  max-height: 550px;
  width: 100%;
  object-fit: cover;
}
.sub-site-section .contact-form-info {
  width: 54%;
}
.sub-site-section .contact-form-info .sub-site-desc-container .sub-site-header-1 {
  margin-bottom: 40px;
}
.sub-site-section .contact-form-info .sub-site-desc-container .phone-email-container .phone-div span, .sub-site-section .contact-form-info .sub-site-desc-container .phone-email-container .email-div span {
  padding: 5px;
  border: solid 1px #2C5545;
  border-radius: 15px;
  position: absolute;
  transform: translate(-100%, -60%);
}
.sub-site-section .contact-form-info .sub-site-desc-container .phone-email-container .phone-div a, .sub-site-section .contact-form-info .sub-site-desc-container .phone-email-container .phone-div p, .sub-site-section .contact-form-info .sub-site-desc-container .phone-email-container .phone-div span, .sub-site-section .contact-form-info .sub-site-desc-container .phone-email-container .email-div a, .sub-site-section .contact-form-info .sub-site-desc-container .phone-email-container .email-div p, .sub-site-section .contact-form-info .sub-site-desc-container .phone-email-container .email-div span {
  display: inline-block;
  font-family: "Advent Pro", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}
.sub-site-section .contact-form-info .sub-site-desc-container .phone-email-container .phone-div .tooltip, .sub-site-section .contact-form-info .sub-site-desc-container .phone-email-container .email-div .tooltip {
  opacity: 0;
  transition: opacity 1s;
  display: none;
}
.sub-site-section .contact-form-info .sub-site-desc-container .phone-email-container .phone-div .tooltip::after, .sub-site-section .contact-form-info .sub-site-desc-container .phone-email-container .email-div .tooltip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2C5545 transparent transparent transparent;
}
.sub-site-section .contact-form-info .sub-site-desc-container .phone-email-container .phone-div .tooltip.active, .sub-site-section .contact-form-info .sub-site-desc-container .phone-email-container .email-div .tooltip.active {
  opacity: 1;
  display: initial;
}
.sub-site-section .contact-form-info .sub-site-desc-container .phone-email-container .phone-div button, .sub-site-section .contact-form-info .sub-site-desc-container .phone-email-container .email-div button {
  width: 110px;
  height: 30px;
  font-weight: 700;
  font-size: 16px;
  background-color: #2C5545;
  border: none;
  color: #FFFFFF;
  margin: 10px 10px 10px 0;
  text-align: center;
}
.sub-site-section .contact-form-info .sub-site-desc-container .phone-email-container .phone-div button a, .sub-site-section .contact-form-info .sub-site-desc-container .phone-email-container .email-div button a {
  width: 100%;
  height: 100%;
}
.sub-site-section .contact-form-form-div {
  width: 46%;
}
.sub-site-section .contact-form-form-div form {
  box-sizing: border-box;
  font-family: "Advent Pro", sans-serif;
  letter-spacing: 1px;
}
.sub-site-section .contact-form-form-div form .name, .sub-site-section .contact-form-form-div form .email, .sub-site-section .contact-form-form-div form .message-box {
  margin-top: 5px;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: solid 1px #999999;
  border-radius: 1px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}
.sub-site-section .contact-form-form-div form .name, .sub-site-section .contact-form-form-div form .email {
  height: 50px;
}
.sub-site-section .contact-form-form-div form .message-box {
  height: 300px;
  resize: vertical;
}
.sub-site-section .contact-form-form-div form button {
  width: 160px;
  height: 40px;
  font-family: "Advent Pro", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  background-color: #2C5545;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}
.sub-site-section .carousele-element {
  overflow: hidden;
}
.sub-site-section .carousele-element .owl-stage-outer .owl-stage {
  margin: auto;
}
.sub-site-section .carousele-element .owl-stage-outer .owl-stage .owl-item {
  overflow: hidden;
}
.sub-site-section .carousele-element .owl-stage-outer .owl-stage .owl-item a img {
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
}
@media (min-width: 1024px) {
  .sub-site-section .carousele-element .owl-stage-outer .owl-stage .owl-item a:hover img {
    transform: scale(1.05);
  }
}
.sub-site-section .carousele-element .owl-nav {
  display: none;
}
.sub-site-section .carousele-element .owl-dots {
  margin-top: 10px;
}
.sub-site-section .carousele-element .owl-dots .owl-dot {
  width: 48px;
  height: 48px;
}
.sub-site-section .carousele-element .owl-dots .owl-dot span {
  margin: auto;
}
.sub-site-section .carousele-element .owl-dots .owl-dot.active span {
  background-color: #2C5545;
}

@media (max-width: 767px) {
  header {
    margin-bottom: 15px;
  }
  header nav .nav-menu {
    position: fixed;
    right: -100%;
    top: 58px;
    gap: 0;
    flex-direction: column;
    background-color: #2C5545;
    width: fit-content;
    margin: 0;
    z-index: 20;
    transition: 0.3s;
    text-align: center;
  }
  header nav .nav-menu .nav-item {
    overflow: hidden;
    float: none;
  }
  header nav .nav-menu .nav-item .nav-sizing {
    padding: 20px 0;
    margin: 0 20px;
    width: 150px;
  }
  header nav .nav-menu .main-site-btn, header nav .nav-menu .about-us-btn {
    border-bottom: solid 1px #FFFFFF;
  }
  header nav .nav-menu.active {
    padding: 0 15px;
    margin: 10px 10px 0 0;
    right: 0;
  }
  header nav .hamburger-menu {
    position: fixed;
    display: block;
    right: 0;
    padding: 8px 13px;
    margin: 5px 10px;
    background-color: #2C5545;
    z-index: 20;
  }
  header nav .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  header nav .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }
  header nav .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  .site-selector .main-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .site-selector .main-container .grid-el-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .site-selector .main-container .grid-el-2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .site-selector .main-container .grid-el-3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .site-selector .main-container .grid-el-4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .site-selector .main-container .grid-el-5 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .site-selector .main-container .grid-el-6 {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .site-selector .main-container .grid-el-7 {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .sub-site-section .sub-site-image {
    padding: 0 3% 0 3%;
    width: 100%;
    text-align: center;
    float: none;
  }
  .sub-site-section .sub-site-image img {
    height: 150px;
    margin: auto;
  }
  .sub-site-section .sub-site-text {
    width: 100%;
  }
  .sub-site-section .sub-site-text .sub-site-desc-container .phone-email-container {
    width: fit-content;
    margin: auto;
  }
}
@media (max-width: 767px) and (max-width: 320px) {
  .sub-site-section .sub-site-text .sub-site-desc-container .phone-email-container .phone-div, .sub-site-section .sub-site-text .sub-site-desc-container .phone-email-container .email-div {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .sub-site-section .sub-site-text .sub-site-desc-container .sub-site-header-1 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .sub-site-section .sub-site-text .sub-site-desc-container .contact-page-info-h1 {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .sub-site-section .sub-site-text .sub-site-desc-container .sub-site-list .sub-list-text-div {
    width: 100%;
  }
  .sub-site-section .sub-site-text .sub-site-desc-container .sub-site-list .sub-list-text-div-projects, .sub-site-section .sub-site-text .sub-site-desc-container .sub-site-list .sub-list-text-div-supervision, .sub-site-section .sub-site-text .sub-site-desc-container .sub-site-list .sub-list-text-div-realizations, .sub-site-section .sub-site-text .sub-site-desc-container .sub-site-list .sub-list-text-div-office {
    width: 85%;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .site-selector .main-container .grid-els .realizations, .site-selector .main-container .grid-els .care {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  nav ul li .nav-sizing {
    width: 170px;
  }
}

/*# sourceMappingURL=main_scss.css.map */
