$lato-font: 'Lato', sans-serif;
$primary-green: #2C5545;
$advent-font: 'Advent Pro', sans-serif;
$carousele-image-size: 220px;
$media-min-desktop: 1024px;
$media-max-tablet: 1023px;
$media-min-tablet: 768px;
$media-max-mobile: 767px;
$media-max-grid: 880px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a:link, a:visited {
    text-decoration: none;
    color: white;
  }
}

nav {
  max-width: 1200px;
  overflow: hidden;
  font-size: 14px;
  font-family: $lato-font;
  font-weight: 400;
  color: white;
  padding: 0 10px;
  display: flex;
  margin: auto auto 30px;

  .nav-item {
    float: right;
  }

  .nav-float-logo {
    display: inline-block;
    width: 150px;
    margin: 5px 0 6px 0;

    img {
      width: 100%;
    }
  }

  ul {
    width: 100%;
    height: auto;
    margin: 15px 0 10px 0;
    padding: 0;

    a:visited {
      text-decoration: none;
    }

    li {
      text-transform: uppercase;

      .nav-sizing {
        float: right;
        width: 232px;
        text-align: center;
        background-color: $primary-green;
        border-radius: 1px;
        padding: 5px 0;
        margin: 0 5px 0 0;
        transition: 0.4s ease-in;
        border: 2px solid $primary-green;
      }

      @media (min-width: $media-min-desktop) {
        .nav-sizing:hover {
          cursor: pointer;
          font-weight: 700;
          background-color: #fff;
          color: $primary-green;
        }
      }


      .contact-btn {
        margin-right: 0;
      }
    }
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;

    .bar {
      display: block;
      width: 38px;
      height: 2px;
      margin: 9px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #FFFFFF;
    }
  }
}

body .loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $primary-green;
  z-index: 300;
}

body .loader {
  margin: auto;
  position: relative;
  top: 46%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #000; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.site-selector {
  width: 100%;
  height: 700px;
  min-height: 60vh;
  max-height: 90vh;
}

.main-container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns:repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  font-family: $lato-font;
  text-transform: uppercase;
  padding: 0 10px;

  .grid-els {
    overflow: hidden;
    transition: 0.4s ease-in;
    border-radius: 2px;

    a {
      position: relative;
      display: block;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 15px 20px;
      transition: all 0.4s ease-in;
      z-index: 10;
      letter-spacing: 2px;
      font-size: 19px;
      width: fit-content;
    }

    @media (min-width: $media-min-desktop) {
      a:hover {
        background-color: $primary-green;
        border-radius: 1px;
        transition: all 0.4s ease-in;
      }

      a:hover ~ .mask-div {
        transition: all 0.4s ease-out;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
      }
    }

    .mask-div {
      transition: all 0.4s ease-in;
      position: relative;
      transform: translate(0, -30%);
      height: 700%;
      width: 100%;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
    }
  }

  //MAIN MENU ELEMENTS
  .grid-el-1 {
    background-image: url("/images/glowna/planta-1.webp");
    background-size: cover;
    background-position: center;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .grid-el-2 {
    background-image: url("/images/glowna/planta-2.webp");
    background-size: cover;
    background-position: center;
    grid-column: 3/5;
    grid-row: 1/2;
  }

  .grid-el-3 {
    background-image: url("/images/glowna/planta-3.webp");
    background-size: cover;
    background-position: center;
    grid-column: 5/6;
    grid-row: 1/3;
  }

  .grid-el-4 {
    background-image: url("/images/glowna/planta-4.webp");
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .grid-el-5 {
    background-image: url("/images/glowna/planta-5.webp");
    background-size: cover;
    background-position: center;
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .grid-el-6 {
    background-image: url("/images/glowna/planta-6.webp");
    background-size: cover;
    background-position: center;
    grid-column: 4/6;
    grid-row: 3/4;
  }

  .grid-el-7 {
    background-image: url("/images/glowna/planta-logo-no-border.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 2/5;
    grid-row: 2/3;
  }
}

// SUB-SITES CSS

.sub-site-section {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;

  .supervision-bcg-img {
    background-image: url("/images/subsites/nadzor/stampnot.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  .sub-site-image, .sub-site-text {
    float: left;
    margin-bottom: 30px;
  }

  .contact-form-info {
    float: right;
  }

  .sub-site-text {
    width: 60%;

    .sub-site-desc-container {
      width: 90%;
      margin: auto;

      .sub-site-header-1 {
        text-transform: uppercase;
        margin-bottom: 20px;
        color: $primary-green;
        font-family: $advent-font;
        font-size: 42px;
        font-weight: 600;
      }

      .sub-site-header-2 {
        margin-bottom: 40px;
        font-family: $lato-font;
        font-size: 32px;
        font-weight: 700;
      }

      .arrangements-h2, .about-us-h2, .contact-page-info-h2 {
        display: none;
      }

      .sub-site-list {
        vertical-align: baseline;
        padding-bottom: 20px;

        .sub-list-bullet-div {
          display: inline-block;
          vertical-align: middle;
          width: 25px;

          img {
            height: 30px;
          }
        }

        .sub-list-text-div {
          letter-spacing: 1px;
          font-family: $advent-font;
          font-weight: 300;
          font-size: 18px;
          display: inline-block;
          width: 85%;
          vertical-align: top;
        }

        .about-us-text-div p:nth-child(1), .about-us-text-div p:nth-child(3) {
          font-weight: 500;
        }

        .about-us-text-div p:nth-child(1), .about-us-text-div p:nth-child(2) {
          padding-bottom: 15px;
        }

        .care-bullet-div, .arrangements-bullet-div, .about-us-bullet-div {
          display: none;
        }
      }
    }
  }

  .sub-site-image {
    width: 40%;

    img {
      height: 500px;
      max-height: 550px;
      width: 100%;
      object-fit: cover;
    }
  }

  // CONTACT SUB-SITE CSS
  .contact-form-info {
    width: 54%;
    padding-left: 20px;

    .sub-site-desc-container {

      .sub-site-header-1 {
          margin-bottom: 40px;
      }

      .phone-email-container {
        .phone-div, .email-div {

          a, p {
            display: inline-block;
            font-family: $advent-font;
            letter-spacing: 1px;
          }

          button {
            width: 110px;
            height: 30px;
            font-weight: 700;
            font-size: 16px;
            background-color: $primary-green;
            border: none;
            color: #FFFFFF;
            margin: 10px 10px 10px 0;
            cursor: pointer;
            text-align: center;

            a {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  .contact-form-form-div {
    width: 46%;

    form {
      box-sizing: border-box;
      font-family: $advent-font;
      letter-spacing: 1px;

      .name, .email, .message-box {
        margin-top: 5px;
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: solid 1px #999999;
        border-radius: 1px;
        font-size: 14px;
        font-family: $lato-font;
      }

      .name, .email {
        height: 50px;
      }

      .message-box {
        height: 300px;
        resize: vertical;
      }

      button {
        width: 160px;
        height: 40px;
        font-family: $advent-font;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        background-color: $primary-green;
        border: none;
        color: #FFFFFF;
        cursor: pointer;
      }
    }
  }

  // OWL CAROUSELE
  .carousele-element {
    overflow: hidden;

    .owl-stage-outer {
      .owl-stage {
        margin: auto;

        .owl-item {
          overflow: hidden;

          a {
            img {
              height: 200px;
              object-fit: cover;
              transition: transform 0.5s ease;
            }
          }

          @media (min-width: $media-min-desktop) {
            a:hover {
              img {
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }

    .owl-nav {
      display: none;
    }

    .owl-dots {
      margin-top: 10px;

      .owl-dot {
        width: 48px;
        height: 48px;

        span {
          margin: auto;
        }
      }

      .owl-dot.active span {
        background-color: $primary-green;
      }
    }
  }

  //END OF OWL CAROUSLE
}

.footer {
  max-width: 1200px;
  margin: auto;
  color: #2C5545;

  div {
    font-size: 24px;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #fff;
    margin-top: 50px;
    color: #2C5545;
  }
}


// MOBILE VIEW
@media (max-width: $media-max-mobile) {

  // NAVIGATION
  header {
    margin-bottom: 15px;

    nav {
      .nav-menu {
        position: fixed;
        right: -100%;
        top: 58px;
        gap: 0;
        flex-direction: column;
        background-color: $primary-green;
        width: fit-content;
        margin: 0;
        z-index: 20;
        transition: 0.3s;
        text-align: center;

        .nav-item {
          overflow: hidden;
          float: none;

          .nav-sizing {
            padding: 20px 0;
            margin: 0 20px;
            width: 150px;
          }
        }

        .contact-btn, .about-us-btn {
          border-bottom: solid 1px #FFFFFF;
        }
      }

      .nav-menu.active {
        padding: 0 15px;
        margin: 10px 10px 0 0;
        right: 0;
      }

      .hamburger-menu {
        position: fixed;
        display: block;
        right: 0;
        padding: 8px 13px;
        margin: 5px 10px;
        background-color: $primary-green;
        z-index: 20;
      }

      .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
      }

      .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
      }

      .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg)
      }
    }
  }

  // MAIN SITE CSS
  .site-selector {
    .main-container {
      grid-template-columns:repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);

      .grid-el-1 {
        grid-column: 1/2;
        grid-row: 1/2;
      }

      .grid-el-2 {
        grid-column: 1/2;
        grid-row: 2/3;
      }

      .grid-el-3 {
        grid-column: 1/2;
        grid-row: 3/4;
      }

      .grid-el-4 {
        grid-column: 1/2;
        grid-row: 4/5;
      }

      .grid-el-5 {
        grid-column: 1/2;
        grid-row: 5/6;
      }

      .grid-el-6 {
        grid-column: 1/2;
        grid-row: 6/7;
      }

      .grid-el-7 {
        grid-column: 1/2;
        grid-row: 7/8;
      }

    }

  }

  // SUB SITES CSS

  .sub-site-section {

    .sub-site-image {
      padding: 0 3% 0 3%;
      width: 100%;
      text-align: center;
      float: none;

      img {
        height: 150px;
        margin: auto;
      }
    }

    .sub-site-text {
      width: 100%;

      .sub-site-desc-container {

        .sub-site-header-1 {
          text-align: center;
        }

        .sub-site-list {
          .sub-list-text-div {
            width: 85%;
          }
        }
      }
    }
  }

}

// TABLET VIEW
@media (min-width: $media-max-mobile) and (max-width: $media-max-tablet) {
  .site-selector {
    .main-container {
      .grid-els {
        .realizations, .care {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }
}

// RESPONSIVE VIEW
@media (min-width: 768px) and (max-width: 1000px) {
  nav {
    ul {
      li {
        .nav-sizing {
          width: 170px;
        }
      }
    }
  }
}




